name: build

on:
  workflow_dispatch:

jobs:
  build:
    name: build
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - uses: actions/setup-node@v1
    
    - run: yarn install
      
    - run: yarn build

    - run: cd dist
    - run: tar cvzf app.tar.gz *
    
    - uses: actions/upload-artifact@v2
      with:
        name: app-0.1.0.tar.gz
        path: app.tar.gz
